# =================================================================
# CSI KARE Core Team 2026–27 Environment Configuration Template
# =================================================================

# Firebase Web App Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=csi-id-info.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=csi-id-info
VITE_FIREBASE_STORAGE_BUCKET=csi-id-info.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dxwuwjdgf
VITE_CLOUDINARY_UPLOAD_PRESET=CSI-ID-INFO
VITE_CLOUDINARY_API_KEY=944146294165256
VITE_CLOUDINARY_API_SECRET=px_8rm87Vjdjgt1wPosTS-hcqEM

# Permanent QR Code Base Domain (Optional)
VITE_CUSTOM_DOMAIN=
